.tabs {
    box-sizing: border-box;
    padding: 0 40rpx;

    .tab-item {
        box-sizing: border-box;
        padding: 0 0 12rpx 0;
        font-size: 26rpx;
        color: #000;
        font-weight: bold;
        border-bottom: 2rpx solid transparent;

        &.active {
            color: #2F80ED;
            border-bottom: 4rpx solid #2F80ED;
        }
    }
}