.tabs {
    box-sizing: border-box;
    padding: 10px 40px;

    .tab-item {
        box-sizing: border-box;
        padding: 0 0 12px 0;
        font-size: 32px;
        color: #000;
        font-weight: bold;
        border-bottom: 2px solid transparent;

        &.active {
            color: #2F80ED;
            border-bottom: 4px solid #2F80ED;
        }
    }
}