.page-container {
    background-color: #F6F6F6;
    height: 100vh;
    box-sizing: border-box;
    .user-wallet-container{
        padding: 20px;
    }
    .user-wallet {
        padding: 40px;
        border-radius: 20px;
        background: #2F80ED;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.10);
        color: #fff;
        position: relative;
        .wallet-title{
            font-size: 24px;
            font-weight: 600;
        }

        .wallet-balance{
            font-size: 48px;
            font-weight: 600;
        }

        .wallet-recharge-btn{
            font-size: 24px;
            font-weight: 600;
            padding: 10px 20px;
            border-top-left-radius: 26px;
            border-bottom-left-radius: 26px;
            background: #fff;
            color: #2F80ED;
            position: absolute;
            bottom: 50%;
            right: 0;
            transform: translateY(50%);
        }
    }

    .wallet-tabs{
        padding: 10px 20px;
        margin: 20px 0;
        background-color: #FFF;
    }

    .wallet-log{
        .log-item{
            background-color: #FFF;
            margin-bottom: 1px;
            padding: 20px;
            .log-item-title{
                font-size: 24px;
                font-weight: 600;
                margin-bottom: 6px;
            }
            .log-item-date{
                font-size: 20px;
                color: #ACACAC;
            }
            .log-item-amount{
                font-size: 24px;
                font-weight: 600;
                color: #ACACAC;
            }
        }
    }


}