.page-container {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    .user-wallet {
        box-sizing: border-box;
        padding: 40px;
        margin: 20px;
        border-radius: 20px;
        background: #2F80ED;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.10);
        color: #fff;
        position: relative;
        .wallet-title{
            font-size: 24px;
            font-weight: 600;
        }
        .wallet-balance{
            font-size: 48px;
            font-weight: 600;
        }
        .wallet-recharge-btn{
            font-size: 24px;
            font-weight: 600;
            padding: 10px 20px;
            border-top-left-radius: 26px;
            border-bottom-left-radius: 26px;
            background: #fff;
            color: #2F80ED;
            position: absolute;
            bottom: 50%;
            right: 0;
            transform: translateY(50%);
        }
    }
}