@font-face {
  font-family: "iconfont"; /* Project id 5047773 */
  src: url('//at.alicdn.com/t/c/font_5047773_h99m4qm0sog.woff2?t=1767602469040') format('woff2'),
       url('//at.alicdn.com/t/c/font_5047773_h99m4qm0sog.woff?t=1767602469040') format('woff'),
       url('//at.alicdn.com/t/c/font_5047773_h99m4qm0sog.ttf?t=1767602469040') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-youjiantou:before {
  content: "\e658";
}

.icon-shezhi:before {
  content: "\e643";
}

.icon-wenhaoxiao:before {
  content: "\e8c8";
}

.icon-cc-copy:before {
  content: "\e634";
}

.icon-fuzhi:before {
  content: "\e68d";
}

.icon-shanchu1:before {
  content: "\e610";
}

.icon-canshu:before {
  content: "\e655";
}

.icon-chakan:before {
  content: "\e666";
}

.icon-fanhui1:before {
  content: "\e600";
}
